root = true

# All file types
[*]

# Preferred characterset encoding
charset = utf-8

# Preferred indentation style
indent_style = space
indent_size = 4

# Unix-style newlines with a newline ending the file
end_of_line = lf
insert_final_newline = true

# Trim possible trailing whitespace
trim_trailing_whitespace = true

# Insert final newline
insert_final_newline = true
